*.exe
*.txt
*.py
*.rs
*.java
*.xml
*.out
*.inp
*.js
test
test1.cpp
test.cpp
main.cpp
test.c
output
*.md
.editorconfig
=======
*.xml
*.png
*.inp
*.out
*.json
*.html
*.js
*.ts
*.go
*.txt
*.bat
*.md
leetcode
practice
dsa
Rust/target
vnoj-code
hackerrank
.vs
.vscode
cmake-build-debug
.clang-format
.editorconfig
.clang-tidy
bai-tap-lon
out
