*.exe
*.xml
*.png
*.inp
*.out
*.json
*.html
*.js
*.ts
*.go
*.txt
*.bat
*.md
leetcode
practice
dsa
Rust/target
vnoj-code
hackerrank
.vs
./.idea/utc_code2.iml
.vscode
cmake-build-debug
.clang-format
.editorconfig
.clang-tidy
bai-tap-lon
