*.exe
*.txt
*.xml
*.out
*.inp
*.js
.idea
test1.cpp
test.cpp
main.cpp
test.c
output
.editorconfig
*.png
*.json
*.html
*.ts
*.bat
*.o
*.h
*.OUT
*.INP
leetcode
practice
dsa
Rust/target
vnoi-code
hackerrank
.vs
.vscode
cmake-build-debug
.clang-format
.clang-tidy
bai-tap-lon
out
main*
test*
*.md
!README.md
.qodo
Test
